*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8cbcb10;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c6c6cabd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
    text-align: center;
}

.title {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
}

.subtitle {
    color: #555;
    font-size: 1.2em;
}

.img {
    height: auto;
    margin-top: 20px;
    border: 5px solid rgb(5, 56, 17);
    width: 60%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background-color: #cacaddbd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
   
}
.image-right {
    float: right;
    margin-left: 15px;
    width: 200;
    height: auto;
}
#tribute-info {
    margin-top: 20px;
    color: #050505;
}

.quote {
    font-style: italic;
    margin-top: 20px;
    color: #0f0f0f;
    font-size: large;
    text-align:center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    margin-top: 20px;
    color: #5a5a5ca1;
    text-align: center;
    font-size: larger;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
   
}

#tribute-link {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}


/* Responsive Design */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 1.5em;
    }

    .subtitle {
        font-size: 1em;
    }

    .img {
        margin-top: 10px;
    }
}